---
import CodeBlock from "@/internal-components/code-block.astro";
import { componentMap } from "@/config/components";
import project from "@/config/project";
import BaseLayout from "@/layouts/base.astro";
import getUrl from "@/lib/get-url";

const exampleInstallationMeta = Object.values(componentMap)[0];
const exampleInstallationSteps = exampleInstallationMeta?.previewAndCode?.installationSteps;

const title = "Installation";

const meta = {
	title: `${title} | ${project.name}`,
	image: getUrl(`assets/index.jpg`),
	url: getUrl("installation/"),
};
---

<BaseLayout meta={meta}>
	<section class="info">
		<h1>{title}</h1>
		<p>Follow these simple steps to add {project.name} components to your React project:</p>
	</section>

	<section class="steps-section">
		<h2>Steps</h2>
		<div class="steps">
			<div class="step">
				<h3>1. Choose a Component</h3>
				<p>Browse the <a href="/components">components</a> library and select the component you want to use.</p>
			</div>
			<div class="step">
				<h3>2. Install Dependencies (If Required)</h3>
				<p>Navigate to the <strong>code</strong> tab of the component to see the installation instructions for any required dependencies.</p>	
				<p>Some components rely on additional packages like react-three-fiber, or framer-motion. Only install these when needed.</p>
				<div class="code-container">
					<CodeBlock 
						code="npm install react-thee-fiber" 
						lang="bash" 
						fileName="Terminal / Command Propmpt"
					/>
				</div>
			</div>
			<div class="step">
				<h3>3. Copy the Code</h3>
				<p>Each component provides a code tab containing the component file and a corresponding CSS module.</p>
				<br>
				<h4>3.1. Copy the Component File</h4>
				<p>Copy the component code into your reusable components folder in your project (For example: <code>/src/components/</code>)</p>
				<div class="code-container">
					<CodeBlock 
						code={exampleInstallationSteps.at(0).code} 
						lang="jsx" 
						fileName={exampleInstallationSteps.at(0).fileName}
					/>
				</div>
				<br>
				<h4>3.2. Copy the CSS Module File</h4>
				<p>Copy the associated CSS module file into the <strong>same</strong> folder:</p>
				<div class="code-container">
					<CodeBlock 
						code={exampleInstallationSteps.at(1).code} 
						lang="css" 
						fileName={exampleInstallationSteps.at(1).fileName}
					/>
				</div>
				<br>
				<p>Using CSS Modules ensures:</p>
				<ul>
					<li>Scoped styles, preventing class name collisions</li>
					<li>Seamless integration with React components</li>
				</ul>
			</div>
			<div class="step">
				<h3>4. Use the Component in Your Project</h3>
				<p>
					Import the component into your React app and render it. 
					Follow the example code provided with the component, and check the <strong>Props</strong> section to see which props are supported for customization.
				</p>
				<div class="code-container">
					<CodeBlock 
						code={exampleInstallationSteps.at(2).code} 
						lang="jsx" 
						fileName={exampleInstallationSteps.at(2).fileName}
					/>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>


<style>
	.steps-section {
		margin-top: 8px;
		padding-bottom: 0;
		.steps {
			margin-top: 24px;
			.step {
				margin-bottom: 32px;
				&:last-child {
					margin-bottom: 0;
				}
				br {
					margin: 8px 0;
				}
				h3 {
					font-size: 1.25rem;
					margin-bottom: 8px;
				}
				h4 {
					font-size: 1rem;
					margin-bottom: 8px;
				}
				p {
					margin-bottom: 8px;
					color: var(--text-secondary);
				}
				.code-container {
					margin-top: 8px;
				}
				ul {
					margin: 8px 0;
					padding-left: 24px;
					li {
						margin-bottom: 4px;
					}
				}
			}
		}
	}
</style>